div.infoCenter{
    text-align: center;
}

img#imgErroConexao{
    width: 10%;
    height: 10%;
}

button#bTenteNovamente{
    padding: 10px;
    border-radius: 4px;
}

ion-footer{
    text-align: center;
}